<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Perfil</title>
    <th:block th:replace="~{partials/headers :: headers}"></th:block>
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>

<body>
    <div th:replace="~{partials/sideBar :: sideBar}"></div>
    <div class="container-fluid pt-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="h4 fw-bold">Meu Perfil</h2>
        </div>

        <div class="card border-0 bg-light">
            <div class="card-body p-0">
                <form action="/usuario/update" method="post" enctype="multipart/form-data">
                    <img id="preview" th:src="${user.imgUrl}" alt="Imagem do Usuário" class="rounded-circle mb-4"
                        style="max-width: 150px; max-height: 150px; object-fit: cover;">
                    <div class="row g-3">
                        <!-- Img URL -->
                        <div class="col-12">
                            <label class="form-label">URL da Imagem</label>
                            <input type="file" class="form-control" name="imgFile" id="inputImagem">
                        </div>

                        <!-- Nome -->
                        <div class="col-md-4">
                            <label class="form-label">Nome</label>
                            <input th:value="${user.name}" type="text" name="name" class="form-control" required>
                        </div>

                        <!-- Telefone -->
                        <div class="col-md-4">
                            <label class="form-label">Telefone</label>
                            <input th:value="${user.phone}" type="tel" class="form-control" name="phone" required>
                        </div>
                                                <!-- CPF -->
                        <div class="col-md-4">
                            <label class="form-label">CPF</label>
                            <input th:value="${user.cpf}" type="text" class="form-control" name="cpf" required>
                        </div>

                        <!-- Email -->
                        <div class="col-md-4">
                            <label class="form-label">Email</label>
                            <input th:value="${user.email}" type="email" class="form-control" name="email" required>
                        </div>

                        <!-- Role -->
                        <div class="col-md-4">
                            <label class="form-label">Perfil</label>
                            <select class="form-select" name="role" disabled>
                                <option value="">Selecione</option>
                                <option th:each="r : ${roles}" th:value="${r}" th:text="${r}"
                                    th:selected="${user.role == r}">
                                </option>
                            </select>
                        </div>

                        <!-- Status -->
                        <div class="col-md-4">
                            <label class="form-label">Status</label>
                            <select class="form-select" name="status">
                                <option value="">Selecione</option>
                                <option th:each="s : ${statuses}" th:value="${s}" th:text="${s}"
                                    th:selected="${user.status == s}">
                                </option>
                            </select>
                        </div>

                        <div>

                            <!-- Senha -->
                            <div class="col-md-6">
                            <label class="form-label">Nova Senha</label>
                            <input type="password" class="form-control" name="newPassword"
                                placeholder="Deixe em branco para manter a senha atual" autocomplete="new-password">
                            </div>
                            
                            <!-- Senha -->
                            <div class="col-md-6">
                                <label class="form-label">Senha Atual</label>
                                <input type="password" class="form-control" name="password" required autocomplete="new-password">
                            </div>
                        </div>

                        <!-- Botões -->
                        <div class="col-12 mt-4">
                            <button type="submit" class="btn btn-primary">
                                Salvar
                            </button>
                            <a href="/usuario/perfil" class="btn btn-secondary">Cancelar</a>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
    <div id="msg" th:if="${error}" th:data-msg="${error}"></div>
    <script th:src="@{/js/msgHandler.js}"></script>
    <script th:src="@{/js/updateUsuario.js}"></script>
</body>

</html>