# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment / Virtualenv
venv/
env/
ENV/
.venv/
.env/

# Flask instance folder (onde configs podem ficar)
instance/

# Pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# Editor e IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs e arquivos temporários
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3

# Coverage reports
htmlcov/
.coverage

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# MacOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# dotenv environment files (opcional - se não quiser subir variáveis sensíveis)
.env
