<div th:fragment="sideBar" class="wrapper">
    <nav id="sidebar" class="d-flex flex-column">
        <div class="sidebar-header d-flex align-items-center text-primary">
            <i class="fa-solid fa-chart-line me-2"></i> EasyCRM
        </div>
        <ul class="nav flex-column mb-auto mt-3">
            <li class="nav-item">
                <a href="/clientes" class="nav-link text-primary">
                    <i class="fa-solid fa-users"></i> Clientes
                </a>
            </li>
            <li class="nav-item">
                <a href="/produtos" class="nav-link text-primary">
                    <i class="fa-solid fa-box"></i> Produtos
                </a>
            </li>
            <li class="nav-item">
                <a href="/vendas" class="nav-link text-primary">
                    <i class="fa-solid fa-cart-shopping"></i> Vendas
                </a>
            </li>
            <li class="nav-item">
                <a href="/interacoes" class="nav-link text-primary">
                    <i class="fa-solid fa-comments"></i> Interações
                </a>
            </li>
            <li class="nav-item mt-4 border-top pt-2">
                <a href="/usuario/perfil" class="nav-link text-primary">
                    <i class="fa-solid fa-user-gear"></i> Meu Perfil
                </a>
            </li>
            <li sec:authorize="hasRole('ADM')" class="nav-item">
                <a href="/adm/home" class="nav-link text-primary">
                    <i class="fa-solid fa-user-tie"></i> Painel ADM
                </a>
            </li>
        </ul>

        <div class="border-top bg-light">
            <a href="/logout" class="nav-link logout text-danger">
                <i class="fa-solid fa-right-from-bracket"></i> Logout
            </a>
        </div>
    </nav>

    <script>
        document.getElementById('sidebarCollapse')?.addEventListener('click', function () {
            document.getElementById('sidebar').classList.toggle('active');
        });
    </script>
</div>