<nav id="side-bar" class="bg-primary bg-gradient shadow h-100 d-flex flex-column justify-content-between">
    <div>
        <h1 class="text-light text-center" >EasyCRM</h1>
        <div class="d-flex flex-column">
            <a class="side-bar-link" href="/client/clients">Clients</a>
            <a class="side-bar-link" href="/client/create">Create Client</a>
            <a class="side-bar-link" href="/task/create">Tasks</a>
            <a class="side-bar-link" href="/task/today">Today</a>
        </div>
    </div>
    <div class="w-100 d-flex justify-content-end">
        <a class="btn btn-light text-danger m-1" href="/auth/logout">Logout</a>
    </div>
</nav>